<hr class="formRowSep" />

<xf:checkboxrow>
	<xf:option name="options[sticky_only]" selected="{$options.sticky_only}" label="{{ phrase('th_only_show_sticky_bookmarks_bookmarks') }}" />
	<xf:option name="options[hide_container]" selected="{$options.hide_container}" label="{{ phrase('th_hide_container_bookmarks') }}" />
	<xf:option name="options[hide_note]" selected="{$options.hide_note}" label="{{ phrase('th_hide_note_bookmarks') }}" />
	<xf:option name="options[hide_date]" selected="{$options.hide_date}" label="{{ phrase('th_hide_bookmark_date_bookmarks') }}" />
</xf:checkboxrow>