<xf:title>{{ phrase('th_bookmarks_bookmarks') }}</xf:title>
<xf:css src="th_bookmarks.less" />
<xf:css src="bb_code.less" />

<xf:pageaction>
	<xf:if is="$bookmarks is not empty">
		<xf:button href="{{ link('bookmarks/sort') }}" icon="sort" overlay="true">{{ phrase('sort') }}</xf:button>
	</xf:if>
</xf:pageaction>

<xf:sidenav>
	<xf:form method="post" class="block">
		<div class="block-container">
			<h3 class="block-header">{{ phrase('content_type') }}</h3>
			<div class="block-body">
				<div class="block-row">
					<xf:checkbox name="content_type[]" value="{$contentType}">
						<xf:options source="{$contentTypes}" />
					</xf:checkbox>
				</div>
			</div>
			<div class="block-footer">
				<xf:button type="submit">{{ phrase('filter') }}</xf:button>
			</div>
		</div>
	</xf:form>
</xf:sidenav>

<div class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:if is="$bookmarks is not empty">
				<ol class="listPlain">
					<xf:foreach loop="$bookmarks" value="$bookmark">
						<li class="block-row block-row--separated {{ $bookmark.sticky ? 'block-row--highlighted' : 'block-row--alt' }}">
							<xf:macro template="th_bookmark_macros_bookmarks" name="row" arg-bookmark="{$bookmark}"  />
						</li>
					</xf:foreach>
				</ol>
				<xf:elseif is="$page <= 1" />
				<div class="block-row">{{ phrase('th_no_bookmarks_to_display_bookmarks') }}</div>
				<xf:else />
				<div class="block-row">{{ phrase('th_no_bookmarks_can_be_shown_bookmarks') }}</div>
			</xf:if>
		</div>
	</div>

	<xf:pagenav link="bookmarks" page="{$page}" perpage="{$perPage}" total="{$totalBookmarks}" params="{$pageNavParams}"
				wrapperclass="block-outer block-outer--after" />
</div>